<div class='bar_title'></div>

*Decision Support Systems*

# Headline

student1, student2, student3, student,4 <br>

Winter Semester 19/20

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data" data-toc-modified-id="Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data</a></span><ul class="toc-item"><li><span><a href="#Distances" data-toc-modified-id="Distances-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Distances</a></span></li></ul></li><li><span><a href="#Implementation" data-toc-modified-id="Implementation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Implementation</a></span></li></ul></div>

In [3]:
!pip install pulp
!pip install geopy

from pulp import *
from geopy.distance import great_circle

import pandas as pd
import numpy as np

Requirement already satisfied: pulp in c:\users\toni greif\anaconda3\lib\site-packages (1.6.10)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\toni greif\anaconda3\lib\site-packages (from pulp) (2.3.0)
Requirement already satisfied: geopy in c:\users\toni greif\anaconda3\lib\site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\toni greif\anaconda3\lib\site-packages (from geopy) (1.50)

## Data

In [4]:
shipping = {
    ('LosMiranas','Medellin'): [99999, 5, 0.2],
    ('Curillo','Medellin'): [99999, 5, 0.2],
    ('Segovia','Medellin'): [99999, 5, 0.2],
    
    ('Medellin','NewYork'): [500, 3, 1], 
    ('Medellin','Miami'): [1000, 3, 1],
    
    ('Medellin','Varadero'): [5000, 10, 1],
    
    ('Varadero','NewYork'): [3000, 5, 1], 
    ('Varadero','Miami'): [4000, 15, 1],
    
    ('Medellin','NuevoLaredo'): [5000, 5, 1],
    
    ('NuevoLaredo','NewYork'): [2000, 10, 1], 
    ('NuevoLaredo','Miami'): [4000, 10, 1],     
}

links = list(shipping.keys())

### Distances

In [5]:
locations = {
    'LosMiranas': (1, 1),
    'Curillo': (1, 1),
    'Segovia': (1, 1), 
    'Medellin': (1, 1), 
    'Varadero': (1, 1),
    'NuevoLaredo': (1, 1),    
    'NewYork': (1, 1), 
    'Miami': (1, 1)    
}

In [6]:
dist = pd.DataFrame([[great_circle(locations[i],locations[j]).km for i in locations] for j in locations])

dist.columns = locations
dist.index = locations

In [7]:
dist

,LosMiranas,Curillo,Segovia,Medellin,Varadero,NuevoLaredo,NewYork,Miami
LosMiranas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Curillo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Segovia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Medellin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Varadero,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NuevoLaredo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NewYork,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Miami,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
dist['LosMiranas']['Curillo']

0.0

## Implementation